body {
  background-color: #f5f5f5;
  margin: 25px 0 0 0;
}
#main {
  text-align: center;
  background-color: #82c1ff;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  border-radius: 5px;
}
h1 {
  font-size: 88px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #fff;
  margin: 0;
  padding: 90px 0 25px 0;
  transform-origin: 50% 100%;
  text-shadow: 2px 2px 2px #333;
  animation-duration: 0.3s;
  animation-name: fadeAndScale;
  animation-timing-function: cubic-bezier(0.71, 0.55, 0.62, 1.57);
}
a {
  font-family: Cambria, Cochin, serif;
  font-size: 16px;
  color: #333;
  padding: 5px;
  border-radius: 5px;
  background-color: #a6d2ff;
  transition: background-color 0.2s ease-out;
}
a:hover {
  background-color: #eee;
}
@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.test {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  background: linear-gradient(60deg, #a6d2ff 0%, #eee 70%, #a6d2ff 80%);
  background-size: 200% 200%;
  background-position: left;
  background-repeat: no-repeat;
  transition: background 0.5s cubic-bezier(0.71, 0.55, 0.62, 1.57);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeScale 0.3s;
}

.test:hover {
  background-position: right;
}

@keyframes fadeScale {
  0% {
    opacity: 0;
    transform: scale(0.8, 0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.texte {
  width: 200px;
  text-align: center;
  font-size: 32px;
  background: linear-gradient(45deg, red);
}

.texte:hover {
  background: #000;
}
